<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>テストの点数</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary mb-2">
        <a href="#" class="navbar-brand">テストの点数</a>
    </nav>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
</body>
<!-- 画面固有の処理 -->
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['オムライス', 'カレー', 'トマトスープ'], // <-[<%= foodname %>]としたいができない
            datasets: [{
                label: "カロリー",
                data: [ <%= calorie %> ], // サーバ側から返される
                backgroundColor: "rgba(219,39,91,0.5)",
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

</html>